// general options
//----------------------------------------------------------------------------

layout_dir "/Users/Stephan.Badragan/.config/zellij/layouts"
default_layout "compact"
pane_frames false
scroll_buffer_size 10000
scrollback_editor "/opt/homebrew/bin/nvim -u /Users/Stephan.Badragan/.config/nvim/init_as_pager.lua"
session_serialization true
serialize_pane_viewport false
show_startup_tips false
mouse_click_through true
mouse_mode true

// plugins
//----------------------------------------------------------------------------

// keybinds
//----------------------------------------------------------------------------

keybinds clear-defaults=true {
    normal {
        bind "Super c" { Copy; }
        bind "Super h" { GoToPreviousTab; }
        bind "Super l" { GoToNextTab; }
        bind "Super Shift l" { MoveTab "Left"; }
        bind "Super Shift h" { MoveTab "Right"; }
        bind "Super t" { NewTab; SwitchToMode "renametab"; TabNameInput 0;}
        bind "Super n" { SwitchToMode "renametab"; TabNameInput 0;}
        bind "Super x" { CloseTab; }
        bind "Super d" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "Super r" {
            LaunchOrFocusPlugin "zellij:layout-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "Super Shift x" { Quit; }
        bind "Super i" { EditScrollback; SwitchToMode "normal"; }
        bind "Super u" { SwitchToMode "scroll"; }
        bind "Super k" {
            Run "lazygit" {
                floating true
                close_on_exit true
            };
            Resize "Increase";
            SwitchToMode "Normal";
        }
    }

    scroll {
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
    }

    shared_among "scroll" "search" {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "up" { ScrollUp; }
        bind "down" { ScrollDown; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
    }
    search {
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "esc" { ScrollToBottom; SwitchToMode "normal"; }
    }

    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "search" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }
    entersearch {
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }

    // locked {
    //     bind "Alt g" { SwitchToMode "normal"; }
    // }
    // pane {
    //     bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
    //     bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    //     bind "h" { MoveFocus "left"; }
    //     bind "j" { MoveFocus "down"; }
    //     bind "k" { MoveFocus "up"; }
    //     bind "l" { MoveFocus "right"; }
    //     bind "n" { NewPane; SwitchToMode "normal"; }
    //     bind "p" { SwitchFocus; }
    //     bind "Alt p" { SwitchToMode "normal"; }
    //     bind "r" { SwitchToMode "renamepane"; PaneNameInput 0; }
    //     bind "s" { NewPane "down"; SwitchToMode "normal"; }
    //     bind "v" { NewPane "right"; SwitchToMode "normal"; }
    //     bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
    //     bind "x" { CloseFocus; SwitchToMode "normal"; }
    //     bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
    // }
    // tab {
    //     bind "1" { GoToTab 1; SwitchToMode "normal"; }
    //     bind "2" { GoToTab 2; SwitchToMode "normal"; }
    //     bind "3" { GoToTab 3; SwitchToMode "normal"; }
    //     bind "4" { GoToTab 4; SwitchToMode "normal"; }
    //     bind "5" { GoToTab 5; SwitchToMode "normal"; }
    //     bind "6" { GoToTab 6; SwitchToMode "normal"; }
    //     bind "7" { GoToTab 7; SwitchToMode "normal"; }
    //     bind "8" { GoToTab 8; SwitchToMode "normal"; }
    //     bind "9" { GoToTab 9; SwitchToMode "normal"; }
    //     bind "H" { BreakPaneLeft; SwitchToMode "normal"; }
    //     bind "L" { BreakPaneRight; SwitchToMode "normal"; }
    //     bind "b" { BreakPane; SwitchToMode "normal"; }
    //     bind "h" { GoToPreviousTab; }
    //     bind "l" { GoToNextTab; }
    //     bind "n" { NewTab; SwitchToMode "renametab"; }
    //     bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
    //     bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
    //     bind "Alt t" { SwitchToMode "normal"; }
    //     bind "x" { CloseTab; SwitchToMode "normal"; }
    //     bind "tab" { ToggleTab; }
    // }
    // resize {
    //     bind "H" { Resize "Decrease left"; }
    //     bind "J" { Resize "Decrease down"; }
    //     bind "K" { Resize "Decrease up"; }
    //     bind "L" { Resize "Decrease right"; }
    //     bind "e" { Resize "Decrease"; }
    //     bind "h" { Resize "Increase left"; }
    //     bind "j" { Resize "Increase down"; }
    //     bind "k" { Resize "Increase up"; }
    //     bind "l" { Resize "Increase right"; }
    //     bind "Alt n" { SwitchToMode "normal"; }
    //     bind "w" { Resize "Increase"; }
    // }
    // move {
    //     bind "h" { MovePane "left"; }
    //     bind "j" { MovePane "down"; }
    //     bind "k" { MovePane "up"; }
    //     bind "l" { MovePane "right"; }
    //     bind "Alt m" { SwitchToMode "normal"; }
    //     bind "n" { MovePane; }
    //     bind "p" { MovePaneBackwards; }
    //     bind "tab" { MovePane; }
    // }
    // scroll {
    //     bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
    //     bind "e" { EditScrollback; SwitchToMode "normal"; }
    //     bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    // }
    // search {
    //     bind "c" { SearchToggleOption "CaseSensitivity"; }
    //     bind "n" { Search "down"; }
    //     bind "o" { SearchToggleOption "WholeWord"; }
    //     bind "p" { Search "up"; }
    //     bind "w" { SearchToggleOption "Wrap"; }
    //     bind "esc" { ScrollToBottom; SwitchToMode "normal"; }
    // }
    // session {
    //     bind "d" { Detach; }
    //     bind "o" {
    //         LaunchOrFocusPlugin "session-manager" {
    //             floating true
    //             move_to_focused_tab true
    //         }
    //         SwitchToMode "normal"
    //     }
    //     bind "Alt s" { SwitchToMode "normal"; }
    // }
    // shared_except "locked" {
    //     bind "Alt ," { PreviousSwapLayout; }
    //     bind "Alt ." { NextSwapLayout; }
    //     bind "Alt ;" { NewPane; }
    //     bind "Alt H" { GoToPreviousTab; }
    //     bind "Alt J" { MoveTab "right"; }
    //     bind "Alt K" { MoveTab "left"; }
    //     bind "Alt L" { GoToNextTab; }
    //     bind "Alt e" { Resize "Decrease"; }
    //     bind "Alt g" { SwitchToMode "locked"; }
    //     bind "Alt h" { MoveFocus "left"; }
    //     bind "Alt i" { EditScrollback; SwitchToMode "normal"; }
    //     bind "Alt j" { MoveFocus "down"; }
    //     bind "Alt k" { MoveFocus "up"; }
    //     bind "Alt l" { MoveFocus "right"; }
    //     bind "Alt o" {
    //         LaunchOrFocusPlugin "session-manager" {
    //             floating true
    //             move_to_focused_tab true
    //         }
    //         SwitchToMode "normal"
    //     }
    //     bind "Alt q" { Quit; }
    //     bind "Alt w" { Resize "Increase"; }
    //     bind "Alt z" {
    //         LaunchOrFocusPlugin "file:/Users/Stephan.Badragan/.config/zellij/plugins/zellij_forgot.wasm" {
    //             floating true
    //             LOAD_ZELLIJ_BINDINGS "true"
    //         }
    //     }
    // }
    // shared_except "locked" "move" {
    //     bind "Alt m" { SwitchToMode "move"; }
    // }
    // shared_except "locked" "session" {
    //     bind "Alt s" { SwitchToMode "session"; }
    // }
    // shared_except "locked" "scroll" "search" {
    //     bind "Alt /" { SwitchToMode "scroll"; }
    // }
    // shared_except "locked" "tab" {
    //     bind "Alt t" { SwitchToMode "tab"; }
    // }
    // shared_except "locked" "pane" {
    //     bind "Alt p" { SwitchToMode "pane"; }
    // }
    // shared_except "locked" "resize" {
    //     bind "Alt n" { SwitchToMode "resize"; }
    // }
    // shared_among "scroll" "search" {
    //     bind "PageDown" { PageScrollDown; }
    //     bind "PageUp" { PageScrollUp; }
    //     bind "left" { PageScrollUp; }
    //     bind "down" { ScrollDown; }
    //     bind "up" { ScrollUp; }
    //     bind "right" { PageScrollDown; }
    //     bind "Alt /" { SwitchToMode "normal"; }
    //     bind "d" { HalfPageScrollDown; }
    //     bind "h" { PageScrollUp; }
    //     bind "j" { ScrollDown; }
    //     bind "k" { ScrollUp; }
    //     bind "l" { PageScrollDown; }
    //     bind "u" { HalfPageScrollUp; }
    // }
}

// theme
//----------------------------------------------------------------------------
themes {
    my-theme {
        text_unselected {
            base 66 66 66
            background 228 233 232
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        text_selected {
            base 66 66 66
            background 228 233 232
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        ribbon_selected {
            base 228 233 232
            background 164 140 50
            emphasis_0 228 233 232
            emphasis_1 7 102 120
            emphasis_2 137 106 152
            emphasis_3 0 142 196
        }
        ribbon_unselected {
            base 228 233 232
            background 101 115 126
            emphasis_0 228 233 232
            emphasis_1 66 66 66
            emphasis_2 0 142 196
            emphasis_3 137 106 152
        }
        table_title {
            base 164 140 50
            background 0
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        table_cell_selected {
            base 66 66 66
            background 228 233 232
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        table_cell_unselected {
            base 66 66 66
            background 228 233 232
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        list_selected {
            base 66 66 66
            background 228 233 232
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        list_unselected {
            base 66 66 66
            background 228 233 232
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 164 140 50
            emphasis_3 137 106 152
        }
        frame_selected {
            base 164 140 50
            background 0
            emphasis_0 7 102 120
            emphasis_1 32 165 186
            emphasis_2 137 106 152
            emphasis_3 0
        }
        frame_highlight {
            base 7 102 120
            background 0
            emphasis_0 137 106 152
            emphasis_1 0
            emphasis_2 7 102 120
            emphasis_3 7 102 120
        }
        exit_code_success {
            base 164 140 50
            background 0
            emphasis_0 32 165 186
            emphasis_1 228 233 232
            emphasis_2 137 106 152
            emphasis_3 0 142 196
        }
        exit_code_error {
            base 228 233 232
            background 0
            emphasis_0 168 156 20
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 137 106 152
            player_2 0 142 196
            player_3 0
            player_4 168 156 20
            player_5 32 165 186
            player_6 0
            player_7 228 233 232
            player_8 0
            player_9 0
            player_10 0
        }
    }
}

theme "my-theme"

