[user]
	name = Stephan Badragan
	email = stephan.badragan@everbridge.com
[core]
	excludesfile = /Users/stephanbadragan/.gitignore_global
	pager = delta
  #pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
    diffFilter = delta --color-only

[delta]
  syntax-theme = gruvbox-light
  line-numbers = true
  features = line-numbers decorations
  light = true
  navigate = true
  side-by-side = false
  # see delta --show-config for all those
  plus-empty-line-marker-style  = normal "#D0D6CD"
  minus-style = syntax "#F0CDCE"
  minus-emph-style = syntax "#EAACAF"
  plus-style = syntax "#E1EBDC"
  plus-emph-style = syntax "#AED6D6"
  zero-style = syntax
  whitespace-error-style = "#aaaaaa"
  hyperlinks = true

[delta "decorations"]
#  commit-decoration-style = bold yellow box ul
file-style = bold
#  file-decoration-style = none  
[merge]
#	tool = bc3
# tool = idea
	tool = nvimdiff4
[mergetool]
  prompt = false
  rustExitCode = true
  keepBackup = false
[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED --cmd ':lua vim.g.myLspDisabled=true' -c '$wincmd w' -c 'wincmd J' -c 'normal gg' -c 'normal ]c'
[difftool]
	prompt = false
[diff]
  colorMoved = default
  tool = bc3
[alias]
  s = status
  b = ! git checkout $(git branch | fzf)
  # nb = "!f(){ main_branch=$(git remote show origin -n | grep 'HEAD branch' | cut -d' ' -f5); git checkout -b $1 && git fetch origin $main_branch && git reset --hard origin/$main_branch; };f"
  nb = "!f(){ main_branch=$(basename $(git rev-parse --abbrev-ref origin/HEAD)); git checkout -b $1 && git fetch origin $main_branch && git reset --hard origin/$main_branch; };f"
  r = "!f(){ main_branch=$(basename $(git rev-parse --abbrev-ref origin/HEAD)); git pull --rebase origin $main_branch; };f"
  squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "bc3"]
    trustExitCode = true
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[mergetool "smartsync"]
    cmd = /Applications/SmartSynchronize.app/Contents/MacOS/SmartSynchronize "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true
[difftool "bc3"]
	trustExitCode = true
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
# make this per-host https://stackoverflow.com/questions/23807313/adding-self-signed-ssl-certificate-without-disabling-authority-signed-ones
#[http]
#	sslcainfo = /Users/stephanbadragan/zcc/certs/allCAbundle.pem
