layout {
    cwd "~/repos/fe-communications"
    tab name="misc" {
        pane
    }
    tab name="vim" {
        pane command="zsh" args="-is eval vim src/index.tsx"
    }
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
}
