layout {
    tab_template name="_tab" { 
        children
        pane size=2 borderless=true {
            plugin location="zjstatus" 
        }
    }
    pane_template name="_pane" {
        cwd "/opt/repos/fe-communications"
    }
    _tab name="misc" {
        _pane
    }
    _tab name="vim" focus=true {
        _pane command="zsh" {
            args "-is" "eval" "vim" "src/index.tsx"
        }
    }
    _tab name="webpack" {
        _pane command="zsh" {
            args "-is" "eval" "npm" "run" "start" 
        }
    }
}
