layout {
    tab_template name="_tab" { 
        children
        pane size=2 borderless=true {
            plugin location="zjstatus" 
        }
    }
    pane_template name="_pane" {
        cwd "/opt/repos/grug-far.nvim/"
    }
    _tab name="misc" {
        _pane
    }
    _tab name="vim" focus=true {
        _pane command="zsh" {
            args "-is" "eval" "vim" "lua/grug-far.lua"
        }
    }
    _tab name="live_test" {
        _pane command="zsh" {
            args "-is" "eval" "vim" "-c" "GrugFar"
        }
    }
    _tab name="unit_test" {
        _pane command="zsh" {
            args "-is" "eval" "make" "test" "dir=base" "file=test_history.lua" "update_screenshots=true" 
        }
    }
}
