layout {
    tab_template name="_tab" { 
        children
        pane size=2 borderless=true {
            plugin location="zjstatus" 
        }
    }
    pane_template name="_pane" {
        cwd "/opt/repos/vial-qmk"
    }
    _tab name="qmk-flash-cyboard" focus=true {
        _pane command="zsh" {
            args "-is" "eval" "qmk-flash-cyboard"
        }
    }
}
