layout {
    tab_template name="_tab" { 
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    pane_template name="_pane" {
        cwd "/opt/repos/snapt.nvim"
    }
    _tab name="misc" {
        _pane
    }
    _tab name="vim" focus=true {
        _pane command="zsh" {
            args "-is" "eval" "vim" "lua/snapt.lua"
        }
    }
    _tab name="unit_test" {
        _pane command="zsh" {
            args "-is" "eval" "luarocks" "test" "--local" 
        }
    }
}
