;; see example here: https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn
;; goku examples: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org
;; goku tutorial: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
;; To check sytax is correct, run `goku` in terminal

;; Modifiers spec:
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
{
 ;;   "basic.simultaneous_threshold_milliseconds": 100,
 ;;   "basic.to_delayed_action_delay_milliseconds": 500,
 ;;   "basic.to_if_alone_timeout_milliseconds": 1000,
 ;;   "basic.to_if_held_down_threshold_milliseconds": 500,
 :profiles
            {:Default {:default true
                    :sim     100
                    :delay   500
                    :alone   1000
                    :held    500}}

 :devices {:kinesis-keyboard [{:vendor_id 1523 :product_id 7}]}
 :templates { :alfred "osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"%s\" in workflow \"com.stephanb.launchers\" with argument \"%s\"'"
            }

 :main      [
             {:des "simultaneous j k press to ESC" :rules [[[:j :k] :escape]]}
             ; {:des "simultaneous d f press to ctrl-space" :rules [[[:d :f]  {:key :spacebar :modi [:left_control]} ]]}
             {:des "swap end with left option" :rules [[:##end :left_option :kinesis-keyboard]]}
             {:des "swap control and command" :rules [[:##left_control :left_command :kinesis-keyboard]
                                                      [:##right_command :right_control :kinesis-keyboard]
                                                      [:##right_control :right_command :kinesis-keyboard]
                                                      ]}
             {:des "command left/right to opt left/right" :rules [
                                                      [:!Cleft_arrow {:key :left_arrow :modi [:left_option]}]
                                                      [:!Cright_arrow {:key :right_arrow :modi [:left_option]}]
                                                      ]}
             {:des "command backsapce to opt backspace" :rules [
                                                      [:!Cdelete_or_backspace {:key :delete_or_backspace :modi [:left_option]}]
                                                      [:!Qdelete_or_backspace {:key :delete_or_backspace :modi [:left_option]}]
                                                      ]}
             {:des "swap left option with left control" :rules [[:##left_option :left_control :kinesis-keyboard]]}
             ;;{:des "have home emit CS modifiers" :rules [[:##home {:key :left_command :modi [:left_command  :left_shift]}]]}
             ;;{:des "have caps_lock emit CS modifiers" :rules [[:##caps_lock {:key :left_command :modi [:left_command :left_shift ]}]]}
             {:des "have home emit CTOS modifiers" :rules [[:##home {:key :left_command :modi [:left_command :left_control :left_option :left_shift]}]]}
             {:des "have caps_lock emit CTOS modifiers in combination with others and caps_lock by itself" :rules [
                  [:caps_lock :caps_lock]
                  [:##caps_lock {:key :left_command :modi [:left_command :left_control :left_option :left_shift]} nil {:alone {:key :caps_lock}} ]]}

             {:des   "mappings"
              :rules [
                      [:!CTOSb {:key grave_accent_and_tilde :modi [:left_command]}]
                      [:!CTOSc {:key c :modi [:left_command]}]
                      [:!CTOSt {:key t :modi [:left_command]}]
                      [:!CTOSv {:key v :modi [:left_command]}]

                      ;; help me get better at not typing shift key on same side of keyboard as key
                      ;; left side
                      [:!Sq []]
                      [:!Sw []]
                      [:!Se []]
                      [:!Sr []]
                      [:!St []]
                      [:!Sa []]
                      [:!Ss []]
                      [:!Sd []]
                      [:!Sf []]
                      [:!Sg []]
                      [:!Sz []]
                      [:!Sx []]
                      [:!Sc []]
                      [:!Sv []]
                      [:!Sb []]
                      [:!S1 []]
                      [:!S2 []]
                      [:!S3 []]
                      [:!S4 []]
                      [:!S5 []]
                      ;; right side
                      [:!Ry []]
                      [:!Ru []]
                      [:!Ri []]
                      [:!Ro []]
                      [:!Rp []]
                      [:!Rh []]
                      [:!Rj []]
                      [:!Rk []]
                      [:!Rl []]
                      [:!Rn []]
                      [:!Rm []]
                      [:!R6 []]
                      [:!R7 []]
                      [:!R8 []]
                      [:!R9 []]
                      [:!R0 []]
                      ]}
             ]
 }

